---
layout: layouts/main.njk
eleventyComputed:
  hero:
    title: "Hotkeys"
---

{%- set css %}
{% include "components/keyboard.css" %}
{% include "components/key-colours.css" %}
{% endset %}
<style>{{css | cssmin | safe}}</style>

{{ content | safe }}
