---
layout: layouts/main.njk
eleventyComputed:
  hero:
    title: "Crafting"
---

{% set css %}
{% include "components/crafting.css" %}
{% include "components/minecraft/icons-minecraft-0.4.css" %}
{% endset %}
<style>{{css | cssmin | safe}}</style>

{{ collections.crafting | eleventyNavigation | eleventyNavigationToHtml({ activeKey: eleventyNavigation.key, listClass: 'crafting-tab-list', activeListItemClass: 'crafting-tab-active' }) | safe }}

{{ content | safe }}
